<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="com.vogella.eclipse.mcp.core.tools">
      <tool class="com.vogella.eclipse.mcp.p2.internal.CheckForUpdatesTool"/>
      <tool class="com.vogella.eclipse.mcp.p2.internal.UpdateTool"/>
      <tool class="com.vogella.eclipse.mcp.p2.internal.InstallTool"/>
      <tool class="com.vogella.eclipse.mcp.p2.internal.GetProvisioningStatusTool"/>
   </extension>

</plugin>
