<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="com.vogella.eclipse.mcp.core.tools">
      <tool class="com.vogella.eclipse.mcp.jdt.internal.FindReferencesTool"/>
      <tool class="com.vogella.eclipse.mcp.jdt.internal.GetTypeHierarchyTool"/>
      <tool class="com.vogella.eclipse.mcp.jdt.internal.GetSourceTool"/>
      <tool class="com.vogella.eclipse.mcp.jdt.internal.SearchTypesTool"/>
      <tool class="com.vogella.eclipse.mcp.jdt.internal.OrganizeImportsTool"/>
      <tool class="com.vogella.eclipse.mcp.jdt.internal.FormatTool"/>
      <tool class="com.vogella.eclipse.mcp.jdt.internal.GetClasspathTool"/>
   </extension>

</plugin>
